[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
email-validator = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-bcrypt = "*"
flask-login = "*"
simplejson = "*"
flask-cors = "*"
colorama = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
gunicorn = "*"
pip = "*"
install = "*"
waitress = "*"
importlib-metadata = "*"

[dev-packages]

[requires]
python_version = "3.10"
